﻿@model List<RestaurantManagement.Application.Order.Queries.GetOrderList.OrderListItemModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order List</h2>

<table class="table">
    <tr>
        <th>Order ID </th>
        <th>Order State </th>
        <th>Total Value</th>
        <th>Table ID </th>
    </tr>
    @for(var i=0;i<Model.Count;i++)
    {
<tr>
    <td>@Html.ActionLink(Model[i].Id.ToString(),"details",new { id = Model[i].Id })</td>
    <td>@Html.DisplayFor(order => Model[i].OrderState) </td>
    <td>@Html.DisplayFor(order =>Model[i].TotalValue) </td>
    <td>@Html.DisplayFor(order =>Model[i].TableID) </td>
</tr>

    }



</table>

