﻿@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <!--<p style="color:#25383C">Your text here</p>-->
        <h1 style="color:#25383C">Restaurant management home page</h1>
    </div>
