﻿@model RestaurantManagement.Presentation.Models.Table.UpdateTableViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Table</h2>

@using (Html.BeginForm("edit", "table", FormMethod.Post))
{
<form class="form-horizontal">
    <div class="form-group">
        @Html.HiddenFor(p => p.Table.Id)
        @Html.HiddenFor(p => p.Table.TableState)
        <label class="control-label">Number of seats</label>
        @Html.TextBoxFor(p => p.Table.NumberOfSeats, new { @class = "form-control" })
    </div>
    <a class="btn btn-primary" href="/table/">Cancel</a> <button type="submit" class="btn btn-primary">Update</button>
</form>
}