﻿@model IEnumerable<RestaurantManagement.Application.Table.Queries.GetTableList.TableListItemModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tables</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableState)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
            <td>
                @if (item.TableState == RestaurantManagement.Domain.Table.TableState.Activated)
                {
                    <a class="btn btn-primary" href="/table/activate">Deactivate</a>
                }
                else
                {
                    <a class="btn btn-primary" href="/table/activate">Activate</a>
                }
            </td>
        </tr>
    }
</table>
