﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Restaurant Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Restaurant Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole(RestaurantManagement.Domain.Common.ApplicationRolesAvailable.Admin))
                        {
                            <li class="nav-item"> @Html.ActionLink("Tables", "index", "table", routeValues: null, htmlAttributes: new { @class="nav-link"}) </li>
                            <li class="nav-item"> @Html.ActionLink("Items", "index", "item", routeValues: null, htmlAttributes: new { @class="nav-link"}) </li>
                        }
                        else
                        {
                            <li class="nav-item"> @Html.ActionLink("Activate Table ", "deactivated-table-list", "table", routeValues: null, htmlAttributes: new { @class="nav-link"}) </li>

                        }
                        <li class="nav-item"> @Html.ActionLink("Orders","", "order",routeValues:null, htmlAttributes:new { @class="nav-link" }) </li>

                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
